@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    color: #fff;
}

body {
    overflow-x: hidden;
    background-color: #000016;
    mix-blend-mode: exclusion;
}


.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}

.content {
    display: grid;
    place-content: center;
    z-index: 2;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 5rem;
    font-weight: lighter;
}

section {
    height:100vh;
}